<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
	
    <context:component-scan base-package="cn.edu.tsinghua.cess.*.service" />
    <context:component-scan base-package="cn.edu.tsinghua.cess.modelfile.parser" />
    <context:component-scan base-package="cn.edu.tsinghua.cess.component.*" />

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath*:jdbc.properties</value>
                <value>classpath*:appconfig.properties</value>
            </list>
        </property>
    </bean>
    
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" 	value="${jdbc.driver}" />
        <property name="jdbcUrl" 		value="${jdbc.url}" />
        <property name="user" 			value="${jdbc.username}" />
        <property name="password" 		value="${jdbc.password}" />
        <property name="maxPoolSize" 	value="20" />
        <property name="minPoolSize" 	value="2" />
        <property name="acquireIncrement" 			value="2" />
        <property name="preferredTestQuery" 		value="SELECT 1" />
        <property name="testConnectionOnCheckout" 	value="false" />
        <property name="testConnectionOnCheckin" 	value="true" />
        <property name="idleConnectionTestPeriod" 	value="300" />
        <property name="acquireRetryAttempts" 		value="5" />
        <property name="acquireRetryDelay" 			value="5" />
        <property name="breakAfterAcquireFailure" 	value="true" />
        <property name="autoCommitOnClose"			value="true" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations" value="classpath*:cn/edu/tsinghua/cess/modelfile/dao/*.xml" />
		<property name="plugins">
			<list>
				<bean class="cn.edu.tsinghua.cess.component.pagination.PaginationInterceptor" />
			</list>
		</property>
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.edu.tsinghua.cess.*.dao" />
	</bean>
	
	<bean class="org.springframework.web.client.RestTemplate" />

    <bean id="apiPath" class="java.lang.String">
        <constructor-arg value="/api/v1" />
    </bean>
	
	<bean id="AnnualTS"				class="cn.edu.tsinghua.cess.datamanager.nclscript.AnnualTS" />
	<bean id="RegionEOF"		class="cn.edu.tsinghua.cess.datamanager.nclscript.RegionEOF" />
	<bean id="RegionLTM"		class="cn.edu.tsinghua.cess.datamanager.nclscript.RegionLTM" />
	<bean id="RegionTrend"	class="cn.edu.tsinghua.cess.datamanager.nclscript.RegionTrend" />
	<bean id="PolarNHEOF"			class="cn.edu.tsinghua.cess.datamanager.nclscript.PolarNHEOF" />
	<bean id="PolarNHLTM"			class="cn.edu.tsinghua.cess.datamanager.nclscript.PolarNHLTM" />
	<bean id="PolarNHTrend"			class="cn.edu.tsinghua.cess.datamanager.nclscript.PolarNHTrend" />
	<bean id="PolarSHEOF"			class="cn.edu.tsinghua.cess.datamanager.nclscript.PolarSHEOF" />
	<bean id="PolarSHLTM"			class="cn.edu.tsinghua.cess.datamanager.nclscript.PolarSHLTM" />
	<bean id="PolarSHTrend"			class="cn.edu.tsinghua.cess.datamanager.nclscript.PolarSHTrend" />
	<bean id="SeasonalTS"			class="cn.edu.tsinghua.cess.datamanager.nclscript.SeasonalTS" />
	<bean id="SeasonalContourNH" class="cn.edu.tsinghua.cess.datamanager.nclscript.SeasonalContourNH"/>
	<bean id="SeasonalContourSH" class="cn.edu.tsinghua.cess.datamanager.nclscript.SeasonalContourSH"/>

</beans>